@import "~reset-css";

body {
  background-color: #f8f8f8;
  &::-webkit-scrollbar-thumb {
    background-color: #a09e9e5d;
    border-radius: 1vw;
  }
  &::-webkit-scrollbar {
    width: 0.3vw;
  }
}

body,
html,
#root,
.Main-Wrapper {
  height: 100%;
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.7vw;
}

* {
  outline: none;
}
.ant-modal-close-x {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(158, 153, 153);
}
a:hover {
  color: #fff;
  transition: 0.3s ease;
}

.ant-btn-circle {
  border: 0;
  box-shadow: none;
  color: #202020 !important;
  opacity: 0.4;

  &:hover {
    opacity: 0.7;
  }

  &::after {
    display: none;
  }
}